In [1]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [2]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [3]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [4]:
2 + 2 * 3

8

In [5]:
a = "132"
print(type(a))

<class 'str'>

In [6]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [7]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [8]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [9]:
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

2017
2018
2019

In [10]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024