In [2]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [6]:
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [8]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [10]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [12]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [14]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [15]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [16]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [17]:
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [18]:
for row in apart:
    for col in row:
        print(col, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----