In [9]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\usn14\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 22.1.1 is available.
You should consider upgrading via the 'C:\Users\usn14\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [11]:
import pandas as pd

# df = pd.read_excel("엑셀 파일 경로", sheet_name = "불러올 시트 이름")
df = pd.read_excel("Test.xlsx", sheet_name="2반")
df

   No.   Name
0    1    Roy
1    2    Tom
2    3    Sam
3    4  Chloe
4    5   Jane

In [12]:
import pandas as pd

# df = pd.read_excel("엑셀 파일 경로", sheet_name = 불러올 시트의 인덱스)
df = pd.read_excel("Test.xlsx", sheet_name=1)
df

   No.   Name
0    1    Roy
1    2    Tom
2    3    Sam
3    4  Chloe
4    5   Jane